
.App {
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.btn{
  background-color: gray;
  width: 82px;
  height: 43px;
  color: white;
  top: inherit;
  font-size: 18px;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover span {
  padding-right: 25px;
}
.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.header{
  align-items: center;
  text-align: center;
  text-decoration: underline;
}
.container {
  display : flex;
  flex-direction : column;
  border: 1px black solid;
  margin: 25px;
  top: 50px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
.topicContainer{
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
}
.topic{
  margin-right : 5px;
  margin-top : 5px;
  margin-bottom : 10px;
  border: 1px black solid;
  height: 150px;
  width : 200px;
  text-align: center;
  margin: 80px;
  border-radius: 12px;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.4);
  background: white;
}
.topic:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.module{
  margin-right : 5px;
  margin-top : 5px;
  margin-bottom : 10px;
  border: 1px black solid;
  height: 150px;
  width : 200px;
  text-align: center;
  align-items: center;
  margin: 80px;
  border-radius: 12px;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.4);
  font-size: 20px;
  background: white;
}
.module:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.imageConatiner{
  height: 50px;
  width: 100%;
  display : flex;
  flex-direction : row;
  margin-top: 10px;
}
.image{
  width : 100%
}
.bottomRow{
  display : flex;
  flex-direction : row;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
